# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
.vev/
venv/
dist/
*.egg-info/

# Node
node_modules/
.npm/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
*.env
application-local.yml
application-secrets.yml
